[submodule "impress_accounting_customizations"]
	path = impress_accounting_customizations
	url = https://github.com/cparadis-impressfoods/impress_accounting_customizations
[submodule "impress_expiration_lot"]
	path = impress_expiration_lot
	url = https://github.com/cparadis-impressfoods/impress_expiration_lot
[submodule "impress_stock_customizations"]
	path = impress_stock_customizations
	url = https://github.com/cparadis-impressfoods/impress_stock_customizations
[submodule "impress_sales_customizations"]
	path = impress_sales_customizations
	url = https://github.com/cparadis-impressfoods/impress_sales_customizations
[submodule "impress_quality_customizations"]
	path = impress_quality_customizations
	url = https://github.com/cparadis-impressfoods/impress_quality_customizations
[submodule "impress_purchase_customizations"]
	path = impress_purchase_customizations
	url = https://github.com/cparadis-impressfoods/impress_purchase_customizations
[submodule "impress_project_billing_production"]
	path = impress_project_billing_production
	url = https://github.com/cparadis-impressfoods/impress_project_billing_production
[submodule "impress_manufacturing_customizations"]
	path = impress_manufacturing_customizations
	url = https://github.com/cparadis-impressfoods/impress_manufacturing_customizations
[submodule "impress_account_report"]
	path = impress_account_report
	url = https://github.com/cparadis-impressfoods/impress_account_report
[submodule "impress_datetime_widget"]
	path = impress_datetime_widget
	url = https://github.com/cparadis-impressfoods/impress_datetime_widget
